@import '~bootstrap/scss/bootstrap';

body {
    background-color: black;
}

#data {
    margin: 0 auto;
    width: fit-content;
    height: 500px;
    overflow-y: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1rem;
}

a {
    color:black;
    text-decoration: none;
}

.bio {
    margin: 200px auto;
    width: 700px;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1rem;
}

#contit {
    width: 30%;
    margin: 20px auto;

    #tit {
        color: red;
        font-size: 50px;
    
        #blue {
            color: blue;
        }
    
        #white {
            color: white;
        }
    }
}